extends base
include mixin/_reviewCard
//- just trying to add mapbox.js into base.bug , prepend will add item at top level
block append head 
  //-script(src='/js/mapbox.js') // this should be added to the bottom of the page. 

  //- mapbox cdn
  script(src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css', rel='stylesheet')
   
  //- local
  //- script(src='/js/mapbox-gl.js')
  //- link(href='/css/mapbox-gl.css',rel='stylesheet')
  

//- Create a mixin , may be export if needed and then include here 
mixin overViewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon 
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text


block content 
  // section 1st PART start
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.imageCover}` alt=`${tour.name}` )
    .heading-box
      h1.heading-primary
        span=`${tour.name} Tour`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon 
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text=`${tour.duration} days`

        .heading-box__detail
          svg.heading-box__icon 
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text=tour.startLocation.description 
  // End 1st PART 

  // Section 2nd PART Start  
  section.section-description
    // start overview box- LEFT TOP
    .overview-box
      div
        // start QUICK FACTS- LEFT TOP FIRST
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick Facts 
          //-this part is repeated and hence using function called mixin 
          //- 3 labels are changing, label, text, icon 
          //- Create a JS code to change Date format; use - 
          - const date = tour.startDates[0].toLocaleString('en-us',{month:'long',year:'numeric'}) 
          +overViewBox('Next Date', date ,'calendar')
          +overViewBox('Difficulty',tour.difficulty,'trending-up')
          +overViewBox('Participants',`${tour.maxGroupSize}  people`,'user')
          +overViewBox('Rating',`${tour.ratingsAverage} / 5`,'star')
          //- This code is repeated
        // end QUICK FACTS
        
        // start YOUR TOUR GUIDES - LEFT TOP SECOND
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your Tour guides
          //- Need to loop through tour.guides and display all 
          each guide in tour.guides 
            .overview-box__detail
              img.overview-box__img(src=`/img/users/${guide.photo}` alt=guide.role)
              - if(guide.role === 'lead-guide')
                  span.overview-box__label Lead Guide
              - if(guide.role === 'guide')
                  span.overview-box__label Tour Guide
              span.overview-box__text=guide.name
        // end YOUR TOUR GUIDES
    // End LEFT TOP
    
    // start About Description Box - LEFT RIGHT
    .description-box 
      h2.heading-secondary.ma-bt-lg=`About ${tour.name}`
      - const paragraphs = tour.description.split('\n') // if more paragraph
      each p in paragraphs 
        p.description__text= p
    // end LEFT RIGHT
  // End 2nd Part 

  // Section 3rd Part - display images START ----
  section.section-pictures
    each pic,index in tour.images
      .picture-box
        img.picture-box__img(src=`/img/tours/${pic}`, alt=`${tour.name} ${index+1}`,class=`picture-box__img--${index+1}`)
  // End 3rd Part 

  // Section 4th Part MAP 
  section.section-map
    #map(data-locations = `${JSON.stringify(tour.locations)}`) 
  // END MAP 

  // SECTION 5th Part Review 
  section.section-reviews
    .reviews
      each review in tour.reviews
        //- call the mixin to get review card
        + getReviewCard(review)
  // End Review 

  // SECTION 6th LAST BOOK TOUR NOW Call To Action
  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/logo-white.png' alt='Company logo')
      img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`,alt='Tour picture')
      img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`,alt='Tour picture')

      .cta__content
        h2.heading-secondary What are you waiting for 
        p.cta__text=` ${tour.duration} days. 1 adventure. Infinite memories. Make it yours Today! `
        
        if user 
          button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Book Tour Now
        else 
          a.btn.btn--green.span-all-rows(href='/login') Login To Book  
  // END LAST SECTION 
  
  
  //- displaying data that need to be rendered 
  //-pre=tour